@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

body{
    background-color: #C7EBC8;
}

header {
    background-color: #FFFFFF;
    padding: 2rem;
    align-items: center;
    border-radius: 5px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-family: 'Cookie', cursive;
    font-size: 50px;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #1859d3, #0091fc, #00bbd9, #00da84, #a8eb12);
    color: transparent;
}

.menu{
    background-color: #FFFFFF;
    padding: 2rem;
    align-items: center;
    border-radius: 5px;
}

a{
    text-decoration: none;
    color: black;
    margin: .4rem;
}