@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    background-image: linear-gradient(to right, #1859d3, #0091fc, #00bbd9, #00da84, #a8eb12);
    margin: 10rem;
}

header {
    background-color: #FFFFFF;
    padding: 2rem;
    align-items: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}

nav{
    display: flex;
    align-items: center;
}

.logo{
    font-family: 'Cookie', cursive;
    font-size: 100px;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #1859d3, #0091fc, #00bbd9, #00da84, #a8eb12);
    color: transparent;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
    margin: .4rem;
}

.email{
    text-decoration: none;
    color: black;
    margin: .4rem;
    font-family: 'Lato', sans-serif;

}

hr{
    background-color: #FFFFFF;
}

.perfil {
    display: flex;
    padding: 5rem;
    align-items: start; 
    background-color: #FFFFFF;
}

.foto{
    align-items: center;
    margin-right: 80px;
    
}

.conteudo{
    align-items: center;
    max-width: 120vh;
    max-height: 120vh;
    text-align: center;
    margin-right: 8%;
    text-align: center;
}


h1{
    font-family: 'Cookie', cursive;
    font-weight: bold;
    font-size: 64px;
    vertical-align:middle;
    margin-bottom: 1px;
    margin-top: 1px;
}

p{
    margin-top: 1px;
    font-family: 'Lato', sans-serif;
    text-align: left;
}

.fotoperfil{
    border-radius: 50%;
    max-width:750px;
    max-height:350px;
    width: auto;
    height: auto;
}

.icon2{
    width: 24px;
    height: 24px;
}

.frase{
    font-family: 'Cookie', cursive;
    font-size: 30px;
    background-color: #FFFFFF;
    padding: 2rem;
    text-align: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 20px;
}
footer{
    margin-top: 50px;
    position: relative;
    margin: auto;
    text-align: center;
    height: 2.5rem;  
}