@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #25262A;
    --text: #FFFCF5;
    
}

@media (max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}

@media (max-width: 720px) {
    html {
        font-size: 87.5%;
    }
}

body {
    background: var(--background);
}

h1{
    color: var(--text);
    font-family: 'Cookie', cursive;
    font-weight: bold;
    font-size: 5rem;
}

p {
    color: var(--text);
    font-family: 'Lato', sans-serif;
}

header{
    div{
        background-image: radial-gradient( circle farthest-corner at 10.2% 55.8%,  #fc2567 0%, #fa2697, 46.2%, #ba08b5 90.1% );
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        animation: rainbow_animation 10s ease-in-out infinite;
        background-size: 400% 100%;

    }
    div {
        display: flex;
        font-family: 'Cookie', cursive;
        font-size: 86px;
        align-items: center;
        justify-content: center;
        border-bottom: 3px solid #515054;
        padding: 1rem;
    }

    @keyframes rainbow_animation {
        0%, 100% {
            background-position: 0 0;
        }
    
        50% {
            background-position: 100% 0;
        }
    }
    
}

.foto {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: var(--background);
    img{
        border-radius: 50%;
        max-width:750px;
        max-height:350px;
        width: auto;
        height: auto;
    }
    
}

.perfil{
    .conteudo{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3rem;
        img{
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(87deg) brightness(119%) contrast(119%);
            width: 5rem;
            height: 5rem;
        }
        h1{
            margin: 1rem;
        }
        p{
            font-size: 1.5rem;
            padding: 2rem;
            width: 30rem;
            margin: 1rem;
        }
        .contatos{
            
            img{
                width: 50px;
                height : 50px;
            }
        }
    
    }
}

.frase{
    background-image: radial-gradient( circle farthest-corner at 10.2% 55.8%,  #fc2567 0%, #fa2697, 46.2%, #ba08b5 90.1% );
    margin-top: 8rem;
}

footer{
    background-image: radial-gradient( circle farthest-corner at 10.2% 55.8%,  #fc2567 0%, #fa2697, 46.2%, #ba08b5 90.1% );
}




